.listaSearchInput{
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 464px;
    position: relative;
    left: -90px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
}
button{
    height: 40px;
    border-radius:9px;
    border: 1px solid #ccc;
    color: white;
    background-color: #acacaf;
    
}